<html xmlns:th="htpp://www.thymeleaf.org">
	<head>
		<meta charset ="UTF-8">
		<tittle th:text="${titulo}"></tittle>
	</head>
	<body>
		<section th:replace ="~{componentes/tiempo :: interceptor}"></section> <!--hacemos refencia a la seccion de componentes/ tiempo y que se llama interceptor-->
		<h3 th:text="${titulo}"></h3>
		<form th:action="@{/form}" th:object="${cliente}" method="post">
			
		 
			<div>
						<label for="nombre">Nombre</label>
						<div>
							<input type="text" id="nombre" th:field="*{nombre}">
						</div>
						<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>
			
			<div>
						<label for="apellido">Apellido</label>
						<div>
							<input type="text" id="apellido" th:field="*{apellido}">
						</div>
						<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
			</div>			
			
			<div>
				<label for="email">Email</label>
				<div>
					<input type="text" id="email" th:field="*{email}">
				</div>
			</div>	
					
					
		</form>
		
	</body>
</html>