<html xmlns:th="htpp://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:text="${titulo}"></div>
	<div th:text="${clientes}"></div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>APELLIDO</th>
				<th>EMAIL</th>
				<th>FECHA</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
				<th th:text="${clientes.id}"></th>
				<th th:text="${clientes.nombre}"></th>
				<th th:text="${clientes.apellido}"></th>
				<th th:text="${clientes.email}"></th>
				<th th:text="${clientes.createAt}"></th>
			</tr>
		</tbody>
	</table>
</body>

</html>