<html xmlns:th="htpp://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>


<body>
	<div th:text="${titulo}"></div>
	<div th:replace="layout/layout :: container"></div>

	<div class="card">
		<div class="card-header" th:text="${titulo}"></div>
		<div>
			<a th:href="@{/form}">Crear cliente</a>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>EMAIL</th>
						<th>FECHA</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente: ${clientes}">
						<th><a th:href="@{/ver/}+ ${cliente.id}" th:text="${cliente.id}"></a></th>
						<th th:text="${cliente.nombre}"></th>
						<th th:text="${cliente.apellido}"></th>
						<th th:text="${cliente.email}"></th>
						<th th:text="${cliente.createAt}"></th>
						<th><a th:href="@{/form/} + ${cliente.id}">Editar cliente</a></th>
						<th><a th:href="@{/eliminar/} + ${cliente.id}">Eliminar cliente</a></th>
					</tr>
				</tbody>
			</table>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>